/* Error: Undefined variable.
 *   ,
 * 2 |   background-color: $color-secondary;
 *   |                     ^^^^^^^^^^^^^^^^
 *   '
 *   sass/sections/_realtors.scss 2:21  @forward
 *   sass/sections/index.scss 1:1       @use
 *   sass/main.scss 4:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502    background-color: $color-secondary;\a   \2502                      ^^^^^^^^^^^^^^^^\a   \2575 \a   sass/sections/_realtors.scss 2:21  @forward\a   sass/sections/index.scss 1:1       @use\a   sass/main.scss 4:1                 root stylesheet";
}
