@use "../abstract" as vars;

.sidebar {
  background-color: vars.$color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.nav-btn {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  height: 2px;
  width: 4.5rem;
  background-color: vars.$color-fff;
  transition: all 0.3s;

  &::before,
  &::after,
  span {
    content: "";
    background-color: vars.$color-fff;
    height: 2px;
    width: 4.5rem;
    position: absolute;
    left: 0;
    transition: all 0.3s;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.open {
    span {
      opacity: 0;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: auto;
      top: 50%;
    }
  }
}

.nav {
  margin-top: 5rem;
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 0.3s ease;
  pointer-events: none;

  &.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 2rem;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }
}
