@use "../abstract" as vars;
/*using place holder below to keep the repeated code in one place, added by @extend*/
%heading {
  font-family: vars.$font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: vars.$color-grey-light-1;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: vars.$color-grey-light-1;
  }
  &--dark {
    color: vars.$color-grey-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: vars.$color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: vars.$color-grey-light-1;
  }
  &--dark {
    color: vars.$color-grey-dark-1;
  }
}

// .btn is additionally inserted here. Because there is only one!
.btn {
  background-color: vars.$color-primary;
  color: vars.$color-fff;
  border: none;
  border-radius: 0;
  font-family: vars.$font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    background-color: vars.$color-primary-dark;
  }
}

// .mb (margin-bottom) also added here, avoiding extra file, for a small project like this one!
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-xlg {
  margin-bottom: 8rem;
}
